
    .topnav {
        position: absolute;
        background-color: white;
        overflow: hidden;
        text-align: center;
        padding: 20px;
        width: 80%;
        margin-left: 8.5%;
        -webkit-box-shadow: 0 0 8px 3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0 0 8px 3px rgba(0,0,0,0.75);
        box-shadow: 0 0 8px 3px rgba(0,0,0,0.75);
    }

    /* Style the links inside the navigation bar */
    .topnav a img{
        height: auto;
        width: auto;
        max-height: 110px;
        max-width: 110px;
        vertical-align: middle;
    }
    .topnav a {
        color: black;
        padding: 0 3.2%;
        text-decoration: none;
        font-size: 27px;
        font-family: Calibri, sans-serif;
    }


    /* Change the color of links on hover */
    .topnav a:hover {
        color: black;
    }

   /* Hamburger menu */
    body{
        margin: 0;
        padding: 0;
        background: #FFFFFF
    }

    .container{
        width: 100%;
        position: absolute;
        margin-top: 200px;
    }

    .container div{
        margin: 0 auto;
    }

    .welkom{
        width: 75%;
    }

    .foto_welkom{
        float: left;
        width: 50%;
    }
    .foto_welkom img {
        margin-top: 30px;
        margin-bottom: -30px;
        width: 48%;
        height: auto;
        border-radius: 20px;
    }

    .tekst_welkom{
        float: right;
        width: 48%;
        font-size: 22px;
        font-family: Calibri, sans-serif;
        text-align: justify;
    }

    .menu{
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: black;
        z-index: 1;
        transition: 0.5s;
    }

    .slideshow{
        width: 75%;
        margin-top: 150px;
    }
    .fotos{
        margin: 0 auto;
        float: left;
        width: 100%;
    }
    .fotos img{
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .photo {
        position: absolute;
        animation: round 16s infinite;
        opacity: 0;
    }

    @keyframes round {
        25% {
            opacity: 1;
        }
        40% {
            opacity: 0;
        }
    }
    -webkit-@keyframes round {
                25% {
                    opacity: 1;
                    -webkit-opacity: 1;
                }
                40% {
                    opacity: 0;
                    -webkit-opacity: 0;
                }
            }
    img:nth-child(1) {
        animation-delay: 12s;
    }

    img:nth-child(2) {
        animation-delay: 8s;
    }

    img:nth-child(3) {
        animation-delay: 4s;
    }

    img:nth-child(4) {
        animation-delay: 0s;
    }



@media only screen and (max-device-width: 800px) {

        .topnav{
            display: none;
        }

        .toggle{
            position: fixed;
            top: 40px;
            left: 40px;
            z-index: 2
        }
        .toggle a{
            text-decoration: none;
            color: #262626;
            font-size: 24px;
            cursor: pointer;
            zoom: 250%;
        }


        ul{
            margin: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        ul li{
            list-style: none;
        }

        ul li a{
            padding: 10px;
            display: inline-block;
            font-family: verdana, serif;
            font-size: 4em;
            text-decoration: none;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        ul li a:hover{
            font-weight: bolder;
        }
        .menu.active{
            left: 0;
            overflow: auto;
        }


        #nav-toggle {
            position: absolute;
            left: 50%;
            top: 50%;
        }

        #nav-toggle {
            cursor: pointer;
            padding: 10px 35px 16px 0;
        }

        #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
            cursor: pointer;
            border-radius: 1px;
            height: 5px;
            width: 35px;
            background: black;
            position: absolute;
            display: block;
            content: '';
        }

        #nav-toggle span:before {
            top: -10px;
        }

        #nav-toggle span:after {
            bottom: -10px;
        }

        #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
            transition: all 250ms ease-in-out;
        }

        #nav-toggle.active span {
            background-color: transparent;

        }

        #nav-toggle.active span:before, #nav-toggle.active span:after {
            top: 0;
            background: white;
        }

        #nav-toggle.active span:before {
            transform: rotate(45deg);
        }

        #nav-toggle.active span:after {
            transform: rotate(-45deg);
        }
    }
@media only screen and (max-width: 800px) {

    .topnav{
        display: none;
    }

    .toggle{
        position: fixed;
        top: 40px;
        left: 40px;
        z-index: 2
    }
    .toggle a{
        text-decoration: none;
        color: #262626;
        font-size: 24px;
        cursor: pointer;
        zoom: 250%;
    }


    ul{
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    ul li{
        list-style: none;
    }

    ul li a{
        padding: 10px;
        display: inline-block;
        font-family: verdana, serif;
        font-size: 4em;
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    ul li a:hover{
        font-weight: bolder;
    }
    .menu.active{
        left: 0;
        overflow: auto;
    }


    #nav-toggle {
        position: absolute;
        left: 50%;
        top: 50%;
    }

    #nav-toggle {
        cursor: pointer;
        padding: 10px 35px 16px 0;
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: black;
        position: absolute;
        display: block;
        content: '';
    }

    #nav-toggle span:before {
        top: -10px;
    }

    #nav-toggle span:after {
        bottom: -10px;
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        transition: all 250ms ease-in-out;
    }

    #nav-toggle.active span {
        background-color: transparent;

    }

    #nav-toggle.active span:before, #nav-toggle.active span:after {
        top: 0;
        background: white;
    }

    #nav-toggle.active span:before {
        transform: rotate(45deg);
    }

    #nav-toggle.active span:after {
        transform: rotate(-45deg);
    }
}
