    html::-webkit-scrollbar {
        display: none;
    }

    .topnav {
        position: relative;
        background-color: white;
        overflow: hidden;
        text-align: center;
        width: 80%;
        margin:0 auto;
        border: 1px solid black;
        border-top: none;
    }
    /* Style the links inside the navigation bar */
    .topnav a img{
        height: auto;
        width: auto;
        max-height: 150px;
        max-width: 150px;
        vertical-align: middle;
    }
    .topnav a {
        color: black;
        padding: 0 2.5%;
        text-decoration: none;
        font-size: 25px;
        font-family: Calibri, sans-serif;
    }


    /* Change the color of links on hover */
    .topnav a:hover {
        text-decoration: underline black;
    }

   /* Hamburger menu */
    body{
        margin: 0;
        padding: 0;
        background: #FFFFFF
    }

    .container{
        width: 100%;
        position: absolute;
        min-height: 100vh;
    }

    .container div{
        margin: 0 auto;
    }

    .welkom{
        padding-top: 50px;
        width: 80%;
    }

    .foto_welkom{
        float: left;
        width: 50%;
        height: 100%;
    }
    .foto_welkom img {
        margin-top: 20px;
        margin-bottom: -20px;
        max-height: 200px;
        padding: 10px;
    }

    .foto_welkom .portrait{
        width: 42%;
        max-width: 250px;
    }
    .foto_welkom .landscape{
        width: 56%;
        max-width: 350px;
    }


    .tekst_welkom{
        float: left;
        padding-left: 2%;
        width: 48%;
        font-size: 22px;
        font-family: Calibri, sans-serif;
        text-align: justify;
    }

    .menu{
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: black;
        z-index: 2;
        transition: 0.5s;
    }

    .dropdownSlideshow{
        width: 25%;
        background: black;
        color: white;
        margin-top: 0;
        border: none;
    }

    .slideshow{
        position: relative;
        float: left;
        width: 100%;
        height: 100%;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .fotos{
        position: relative;
        width: 80%;
    }

    .photo {
        width: 100%;
        height: 100vh;
    }

    .contact{
        position: relative;
        float: left;
        width: 100%;
        height: 100%;
        padding-bottom: 200px;
    }

    .form{
        width: 80%;
        font-family: Calibri, sans-serif;
        color: white;
        background-color: black;
        padding: 20px;
        margin: 0 auto;
    }

    .form label{
        font-weight: bold;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid black;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    .btnForm{
        background-color: white;
        border: none;
        color: black;
        font-weight: bold;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    .socials{
        width: 80%;
        margin: 0 auto;
    }

    .instagram{
        float: left;
        width: 100%;
        padding-bottom: 230px;
        margin: 0 auto;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 10px;
        font-size: 16px;
        height: auto;
        background-color: black;
        color: white;
        text-align: center;
        z-index: 4;
    }
    .footer a{
        text-decoration: none;
        color: white;
    }
    .footer i {
        padding: 30px 30px 5px 30px;
        font-size: 80px;
    }


@media only screen and (max-width: 800px) {
    .html.active, .body.active{
        margin: 0;
        height: 100%;
        overflow: hidden
    }
    body::-webkit-scrollbar {
            display: none;
        }

        .slideshow{
            z-index: 1;
        }

        .topnav{
            display: none;
        }

        .welkom{
            padding-top: 120px;
            width: 90%;
        }
        .tekst_welkom{
            font-size: 15px;
            font-family: Calibri, sans-serif;
            text-align: justify;
        }
        .socials{
            width: 90%;
            margin: 0 auto;
        }

        .instagram{
            float: left;
            width: 100%;
            padding-bottom: 200px;
            margin: 0 auto;
        }

        .toggle{
            position: absolute;
            top: 40px;
            left: 40px;
            z-index: 3
        }
        .toggle a{
            text-decoration: none;
            color: #262626;
            font-size: 24px;
            cursor: pointer;
            zoom: 250%;
        }


        ul{
            margin: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        ul li{
            list-style: none;
        }

        ul li a{
            padding: 10px;
            display: inline-block;
            font-family: verdana, serif;
            font-size: 4em;
            text-decoration: none;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        ul li a:hover{
            font-weight: bolder;
        }
        .menu.active{
            left: 0;
            overflow: hidden;
        }


        #nav-toggle {
            position: absolute;
            left: 50%;
            top: 50%;
        }

        #nav-toggle {
            cursor: pointer;
            padding: 10px 35px 16px 0;
        }

        #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
            cursor: pointer;
            border-radius: 1px;
            height: 5px;
            width: 35px;
            background: black;
            position: absolute;
            display: block;
            content: '';
        }

        #nav-toggle span:before {
            top: -10px;
        }

        #nav-toggle span:after {
            bottom: -10px;
        }

        #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
            transition: all 250ms ease-in-out;
        }

        #nav-toggle.active span {
            background-color: transparent;

        }

        #nav-toggle.active span:before, #nav-toggle.active span:after {
            top: 0;
            background: white;
        }


        #nav-toggle.active span:before {
            transform: rotate(45deg);
        }

        #nav-toggle.active span:after {
            transform: rotate(-45deg);
        }
    }
@media only screen and (max-device-width: 800px) {
    .html.active, .body.active{
        margin: 0;
        height: 100%;
        overflow: hidden
    }

    body::-webkit-scrollbar {
        display:none;
    }


    .slideshow{
        z-index: 1;
    }

    .topnav{
        display: none;
    }

    .welkom{
        padding-top: 120px;
        width: 90%;
    }

    .tekst_welkom{
        font-size: 15px;
        font-family: Calibri, sans-serif;
        text-align: justify;
    }
    .socials{
        width: 80%;
        margin: 0 auto;
    }

    .instagram{
        float: left;
        width: 100%;
        padding-bottom: 200px;
        margin: 0 auto;
    }

    .toggle{
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 3
    }
    .toggle a{
        text-decoration: none;
        color: #262626;
        font-size: 24px;
        cursor: pointer;
        zoom: 250%;
    }


    ul{
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    ul li{
        list-style: none;
    }

    ul li a{
        padding: 10px;
        display: inline-block;
        font-family: verdana, serif;
        font-size: 4em;
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    ul li a:hover{
        font-weight: bolder;
    }
    .menu.active{
        left: 0;
        overflow: hidden;
    }


    #nav-toggle {
        position: absolute;
        left: 50%;
        top: 50%;
    }

    #nav-toggle {
        cursor: pointer;
        padding: 10px 35px 16px 0;
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: black;
        position: absolute;
        display: block;
        content: '';
    }

    #nav-toggle span:before {
        top: -10px;
    }

    #nav-toggle span:after {
        bottom: -10px;
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        transition: all 250ms ease-in-out;
    }

    #nav-toggle.active span {
        background-color: transparent;

    }

    #nav-toggle.active span:before, #nav-toggle.active span:after {
        top: 0;
        background: white;
    }


    #nav-toggle.active span:before {
        transform: rotate(45deg);
    }

    #nav-toggle.active span:after {
        transform: rotate(-45deg);
    }
}
